<body>
   <%= flash[:notice] %>

  <tr>
    <p>
   <strong>Title:</strong>
   <%= @book.title %>
  　</p>
  </tr>

  <tr>
   <P>
      <strong>Body:</strong>
    <%= @book.body %>
   </p>
  </tr>

  <tr>
    <%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", books_path %>
  </tr>

</body>